<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

    <!--
    <main>
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 lg:px-6">
          <div class="max-w-screen-xl text-gray-500 sm:text-lg dark:text-gray-400">
            <%= yield %>
          </div>
        </div>
      </section>
    </main>
    -->
    <!-- https://demos.creative-tim.com/notus-design-system-pro/blog/sections/blog.html -->

    <main>
      <div class="w-full">
        <section class="pt-12 relative">
          <div class="container mx-auto px-4">
              <div class="flex flex-wrap -mx-4">
                <div class="mx-auto relative w-full md:w-8/12">
                  <h6 class="text-lg mt-2 mb-0 text-blueGray-400">March 1, 2019</h6>
                  <h3 class="text-3xl font-bold leading-normal mt-0 mb-2">Page Title</h3>
                  <%= yield %>
                </div>
              </div>
          </div>
        </section>

        <section class="pt-12 relative">
          <div class="container mx-auto px-4">
              <div class="flex flex-wrap -mx-4 justify-center">
                <img src="https://demos.creative-tim.com/notus-pro-react/static/media/new-york-city.d7a444b7.jpg" alt="..." class="rounded-lg shadow-lg w-850-px">
              </div>
          </div>
        </section>

        <section class="pt-12 relative">
          <div class="container mx-auto px-4">
              <div class="flex flex-wrap -mx-4">
                <div class="mx-auto relative w-full md:w-8/12">

                  <p class="mb-4 text-lg text-blueGray-500">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more. We are here to make life better.</p>
                  <p class="mb-4 text-lg text-blueGray-500">And now I look and look around and there’s so many Kanyes I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... and thank you for turning my personal jean jacket into a couture piece.</p>
                  <p class="text-xl text-blueGray-500 mx-0 my-12 block pl-4 border-l border-blueGray-200 border-l-2">"And thank you for turning my personal jean jacket into a couture piece."<br><small class="mt-2 font-semibold text-blueGray-700">Kanye West, Producer.</small></p>

                  <h3 class="text-3xl font-bold leading-normal mt-0 mb-2">Using Video Games To Generate Clicks</h3>
                  <p class="mb-4 text-lg text-blueGray-500">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more. We are here to make life better.</p>
                </div>
              </div>
          </div>
        </section>
        <section class="pt-12 relative">
          <div class="w-full">
              <div class="flex justify-center w-full">
                <div class="w-full transform duration-500 transition-all ease-in-out mx-auto block"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/sofia-kuniakina.d748127a.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/sacha-styles.b70fcf79.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/victor-garcia.517e6e46.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/doyoun-seo.626bcf05.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/ayo-ogunseinde.171c7cb2.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
              </div>
              <div class="flex justify-center mt-6"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-blueGray-800 bg-white border-white active:bg-blueGray-100 active:border-blueGray-100 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="fas fa-chevron-left"></i></button><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-blueGray-800 bg-white border-white active:bg-blueGray-100 active:border-blueGray-100 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="fas fa-chevron-right"></i></button></div>
          </div>
        </section>
        <section class="pt-12 relative">
          <div class="container mx-auto px-4">
              <div class="flex flex-wrap -mx-4">
                <div class="mx-auto relative w-full md:w-8/12">
                    <h3 class="text-3xl font-bold leading-normal mt-0 mb-2">Rest of the Story:</h3>
                    <p class="mb-4 text-lg text-blueGray-500">We are here to make life better. And now I look and look around and there’s so many Kanyes I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... and thank you for turning my personal jean jacket into a couture piece. I speak yell scream directly at the old guard on behalf of the future. daytime All respect prayers and love to Phife’s family Thank you for so much inspiration</p>
                    <p class="mb-4 text-lg text-blueGray-500">Thank you Anna for the invite thank you to the whole Vogue team And I love you like Kanye loves Kanye Pand Pand Panda I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound...The Pablo pop up was almost a pop up of influence. All respect prayers and love to Phife’s family Thank you for so much inspiration daytime I love this new Ferg album! The Life of Pablo is now available for purchase I have a dream. Thank you to everybody who made The Life of Pablo the number 1 album in the world! I'm so proud of the nr #1 song in the country. Panda! Good music 2016!</p>
                    <p class="mb-4 text-lg text-blueGray-500">I love this new Ferg album! The Life of Pablo is now available for purchase I have a dream. Thank you to everybody who made The Life of Pablo the number 1 album in the world! I'm so proud of the nr #1 song in the country. Panda! Good music 2016!</p>
                </div>
              </div>
          </div>
        </section>
      </div>
    </main>


    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
