<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>

  <body class="bg-yellow-50 <%= resource.data.layout %> <%= resource.data.page_class %>">

    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

    <!-- article -->
    <main class="pb-6">
      <div class="w-full">

        <section class="pt-12 relative">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap -mx-4">
              <div class="mx-auto relative w-full md:w-10/12">
                <div class="text-md text-right mt-2 mb-0 text-slate-500">
                  Updated: <%= resource.data.updated&.strftime('%F') %>
                </div>
                <h1 class="text-gray-600"><%= resource.data.title %></h1>
                <h2 class="text-center text-blue-400"><%= resource.data.subtitle %></h2>
                <article class="text-lg pt-1">
                  <%= yield %>
                </article>
              </div>
            </div>
          </div>
        </section>

      </div>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
