<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- favicon -->
<%# <link rel="icon" href="favicon.ico" sizes="any" type="image/x-icon"> %>
<link rel="icon" href="/images/logo_mnt_shaded.svg" sizes="any" type="image/svg+xml">
<%# <link rel="manifest" href="/manifest.webmanifest"> %>

<% resource_title = strip_html(strip_newlines(title)) %>
<title>
  <% if resource_title != "Index" %>
    <%= resource_title %> | <%= metadata.title %>
  <% else %>
    <%= metadata.title %>: <%= metadata.tagline %>
  <% end %>
</title>

<meta name="description" content="<%= metadata.description %>" />

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>
<%# <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" /> %>
<%# <script src="/node_modules/flowbite/dist/flowbite.js"></script> %>
<%# <script src="./node_modules/dist/js/index.min.js"></script> %>
<%= live_reload_dev_js %>
